body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
   
}

header {
    background-color: #257727;
    padding: 20px;
   
}

h1, h2, h3 {
    margin: 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav li {
    display: inline-block;
    margin: 0 10px;
}

nav a {
    text-decoration: none;
    font-weight: 700;
    gap:3px;
   
}

.hero {
    text-align: center;
    padding: 50px;
    width:100%;
    
}

.hero button {
    background-color: #0e822f;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.courses {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.course-card {
    width: 30%;
    background-color: #f5f5f5;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 20px;
}

.course-card img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    margin-bottom: 10px;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #f0f0f0;
}

@media  (max-width:470px) {
      header{
        width: 600px;
      }
      .hero {
        width:600px;
      }
}
